# .gitignore
mock
docs
components\carCard.html
components\footer.html
components\modal.html
components\navbar.html
assets\js\utils\calculatePrice.js
assets\js\utils\carUtils.js
assets\js\utils\imageModalUtils.js
assets\js\utils\navUtils.js
assets\js\utils\userUtils.js
assets\js\homepage.js
assets\js\login.js
index.html
login.html
sign-up.html
style.css
bassem.md
assets\images
assets\css\home.css
assets\css\car-listings-overview.css