:root {
  --main-color: #4f46e5;
  --darker-main: #423bc1;
  --lighter-main: #756fe4;
  --bgcolor: #f7f7f7;
  --darkblue: #111828;
  --lightgrey: #9ca2ae;
  --darkgrey: #5f5f5f;
  --animation-duration: 400ms;
  --main-font: "Poppins";
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.darkgrey {
  color: var(--darkgrey);
}

section {
  margin-block: 50px;
  padding-block: 50px;
}

.text-main{
  color: var(--darker-main);
}
.text-darkblue{
  color: var(--darkblue);
}

/*----------------------------NAVBAR--------------- */

.navbar {
  background-color: #fff;
  padding: 10px;
}

.nav-main {
  color: #000;
}

.navbar-nav .nav-link.active {
  color: var(--main-color);
  font-weight: 500;
}

.navbar-nav .nav-link.active:hover {
  color: var(--darker-main);
}

.navbar-nav .nav-link:hover {
  color: var(--main-color);
}

.btn-nav a {
  text-decoration: none;
}

.logo {
  transition: transform 0.3s ease-in-out;
  width: 30px
}

.logo:hover {
  transform: rotate(360deg);
}

.btn-nav {
  background-color: var(--main-color);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 8px 35px;
  color: white;
}

.btn-nav:hover {
  background-color: var(--darker-main);
  color: white;
}

.btn-nav:active {
  background-color: var(--darker-main) !important;
  color: white !important;
  border-color: var(--main-color) !important
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* profile circle for logged in user */
#profileDropdown a {
  padding: 8px 16px;
  color: var(--main-color);
  border-radius: 30px;
}

#profileDropdown a:hover .avatar-img {
  border-color: var(--darker-main);
}

#profileDropdown a:hover span {
  color: var(--darker-main)
}

.dropdown-item:active {
  background-color: #fff;
  color: var(--main-color);
}

.avatar-img {
  width: 40px;
  height: 40px;
}
.user-avatar{
  border: 3px solid var(--main-color);
}
#nameDisplay {
  color: var(--main-color);
}

/* car card rating */
.rating-overlay {
  background-color: white;
  border-radius: 20px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--darkgrey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-overlay i {
  font-size: 14px;
}

/* --------------FOOTER-------- */
.footer {
  background-color: #1C2526;
  color: white;
  padding: 60px 0 30px;
}

.footer h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.footer h6 {
  font-size: 14px;
  font-weight: 500;
}

.footer p,
.footer address,
.footer ul li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 8px;
}

.footer a {
  color: white;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #4f46e5;
  text-decoration: none;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 5px;
}

.border-top {
  border-top: 1px solid #eaeaea !important;
}

/*Message */
.success-message, .alert-message {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 90%;
  background: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #28a745;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  animation: fadeIn 0.5s ease-in;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.success-message i {
  font-size: 1.2rem;
  color: #28a745;
}

.alert-message {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 90%;
  background: #f6c4c4;
  color: #6f0e0e;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ff9898;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  animation: fadeIn 0.5s ease-in;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.alert-message i {
  font-size: 1.2rem;
  color: #ff9898;
}