:root {
  --main-color: #4f46e5;
  --darker-main: #423bc1;
  --lighter-main: #756fe4;
  --bgcolor: #f7f7f7;
  --darkblue: #111828;
  --lightgrey: #9ca2ae;
  --darkgrey: #5f5f5f;
  --animation-duration: 400ms;
  --main-font: "Poppins";
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgcolor);
  color: var(--darkgrey);
}

#mainCont {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

body, html {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100vh;
}

aside {
  background-color: var(--lighter-main);
  color: white;
}

main {
  background-color: white;
}